<header class="header-login" id="home">
        <section class="flex-between">
            <a href="{{ path('home') }}#features" class="logo">
                <div>
                    <img src="{{ asset('assets/img/LogoPathWhite.png') }}" alt="Logo">
                    <h1>Pathfinding</h1>
                </div>
            </a>
            <nav>
                <ul id="navID">
                {% if app.user %}
                    <li class="dropdown">
                            <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="dropdown">
                            <a>Adventures</a>
                            <ul class="dropdown-menu">
                                <li><a href="">Discover</a></li>
                                <li><a href="{{ path('create-adventure') }}">New adventure</a></li>
                                <li><a href="{{ path('adventures-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>Contacts</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('create-contact') }}">New contact</a></li>
                                <li><a href="{{ path('contacts-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                        <a>Explore</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-sub">
                                <a href="{{ path('home') ~ '#features' }}">Features</a>
                            </li>
                            <li class="dropdown dropdown-sub">
                                <a>Community</a>
                                <ul class="dropdown-menu dropdown-menu--left">
                                    <li><a href="{{ path('contact-form') }}">Partnership</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-sub">
                                <a>About us</a>
                                <ul class="dropdown-menu dropdown-menu--left">
                                    <li><a href="{{ path('about') ~ '#story' }}">A short story</a></li>
                                    <li><a href="{{ path('contact-form') }}">Contact</a></li>
                                    <li><a href="{{ path('about') ~ '#roadmap' }}">Roadmap</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                            <a class="login" href="{{ path('logout') }}"> <i class="fas fa-right-from-bracket"></i></a>
                    </li>
                

                {% else %}
                    <li class="dropdown">
                            <a>Features</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('home') }}#features">Adventure</a></li>
                                <li><a href="{{ path('home') }}#features">Live Track</a></li>
                                <li><a href="{{ path('home') }}#features">Safety Alert</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>Community</a>
                            <ul class="dropdown-menu ">
                                <li><a href="{{ path('register') }}">Join us</a></li>
                                <li><a href="{{ path('contact-form') }}">Partnership</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>About us</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('about') }}#story">A short story</a></li>
                                <li><a href="{{ path('contact-form') }}">Contact</a></li>
                                <li><a href="{{ path('about') }}#roadmap">Roadmap</a></li>
                            </ul>
                    </li>
                    <li>
                        <a class="login" href="{{ path('login') }}">Log In</a>
                    </li>
                {% endif %}
                </ul>
            </nav>



                <!-- Mobile & Tablet menu (until lg breakpoint) -->
            <button id="hamburger" class="hamburger">
                <i class="fas fa-bars"></i>
            </button>

            <div id="mobile-menu" class="mobile-menu">
                <button id="close-mobile-menu" class="close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <ul>
                {% if app.user %}
                    <li class="dropdown">
                            <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="dropdown">
                            <a>Adventures</a>
                            <ul class="dropdown-submenu">
                                <li><a href="">Discover</a></li>
                                <li><a href="{{ path('create-adventure') }}">New adventure</a></li>
                                <li><a href="{{ path('adventures-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>Contacts</a>
                            <ul class="dropdown-submenu">
                                <li><a href="{{ path('create-contact') }}">New contact</a></li>
                                <li><a href="{{ path('contacts-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                        <a>Explore</a>
                        <ul class="dropdown-submenu">
                            <li class="dropdown dropdown-sub">
                                <a href="{{ path('home') ~ '#features' }}">Features</a>
                            </li>
                            <li class="dropdown dropdown-sub">
                                <a>Community</a>
                                <ul class="dropdown-menu dropdown-menu--left">
                                    <li><a href="{{ path('contact-form') }}">Partnership</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-sub">
                                <a>About us</a>
                                <ul class="dropdown-menu dropdown-menu--left">
                                    <li><a href="{{ path('about') ~ '#story' }}">A short story</a></li>
                                    <li><a href="{{ path('contact-form') }}">Contact</a></li>
                                    <li><a href="{{ path('about') ~ '#roadmap' }}">Roadmap</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a class="login" href="{{ path('logout') }}"> <i class="fas fa-right-from-bracket"></i></a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a>Features</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('home') }}#features">Adventure</a></li>
                            <li><a href="{{ path('home') }}#features">Live Track</a></li>
                            <li><a href="{{ path('home') }}#features">Safety Alert</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a>Community</a>
                            <ul class="dropdown-menu ">
                                <li><a href="{{ path('register') }}">Join us</a></li>
                                <li><a href="{{ path('contact-form') }}">Partnership</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>About us</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('about') }}#story">A short story</a></li>
                                <li><a href="{{ path('contact-form') }}">Contact</a></li>
                                <li><a href="{{ path('about') }}#roadmap">Roadmap</a></li>
                            </ul>
                    </li>
                    <li>
                        <a class="login" href="{{ path('login') }}">Log in</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <div id="overlay" class="overlay"></div>
        </section>
</header>