<header class="header-login" id="home">
        <section class="flex-between">
            <a href="{{ path('home') }}#features" class="logo">
                <div>
                    <img src="{{ asset('assets/img/LogoPathWhite.png') }}" alt="Logo">
                    <h1>Pathfinding</h1>
                </div>
            </a>
            <nav>
                <ul id="navID">
                    <li class="dropdown">
                            <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="dropdown">
                            <a>Users</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('create-user') }}">New user</a></li>
                                <li><a href="{{ path('admin/user-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>Adventures</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('admin/adventure-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li>
                            <a class="login" href="{{ path('logout') }}"> <i class="fas fa-right-from-bracket"></i></a>
                    </li>
                </ul>
            </nav>



                <!-- Mobile & Tablet menu (until lg breakpoint) -->
            <button id="hamburger" class="hamburger">
                <i class="fas fa-bars"></i>
            </button>

            <div id="mobile-menu" class="mobile-menu">
                <button id="close-mobile-menu" class="close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <ul>
                    <li class="dropdown">
                            <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="dropdown">
                            <a>Users</a>
                            <ul class="dropdown-submenu">
                                <li><a href="{{ path('create-user') }}">New user</a></li>
                                <li><a href="{{ path('admin/user-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a>Adventures</a>
                            <ul class="dropdown-submenu">
                                <li><a href="{{ path('admin/adventure-manager') }}">Manage</a></li>
                            </ul>
                    </li>
                    <li>
                        <a class="login" href="{{ path('logout') }}"> <i class="fas fa-right-from-bracket"></i></a>
                    </li>
            </div>
            <div id="overlay" class="overlay"></div>
        </section>
</header>