{% extends 'user/base.html.twig' %}

        {% block metatitle %}
        <title>Pathfinder - New Adventure</title>
        {% endblock metatitle %}

{% block main %}

<main class="newAdv">
        <section class="container">
            <div class="flex-start gap-2 pdt-8 pdb-2">
                <a class="arrow-return-button" href="{{ path('adventures-manager')}}">
                    <i class="fas fa-arrow-left" src="../assets/img/LiveTrack.jpeg" alt=""></i>
                </a> 
                <h2>CREATE AN ADVENTURE</h2>
            </div>
            <div class="container-type-3 shadow-black mb-8">
                <form class="w100" action="{{ path('create-adventure') }}" method="post">
                    <div class="w40">
                        <div class="w100 pdt-4">
                            <div class="w100">
                                <label class="d-block" for="title">TITLE</label>
                                <input type="text" id="title" name="title" placeholder="" required>
                            </div>
                        </div>

                        <div class="w70">
                                <label class="d-block" for="start_date">START DATE</label>
                                <input type="datetime-local" id="start_date" name="start_date" placeholder="" required>
                        </div>
                        <div class="w70">
                                <label class="d-block" for="end_date">END DATE</label>
                                <input type="datetime-local" id="end_date" name="end_date" placeholder="" required>
                        </div>

                        <div class="w100 d-flex">
                            <div class="w45">
                                <label class="d-block" for="visibility">VISIBILITY</label>
                                <select name="visibility" id="visibility" required>
                                    <option value="privacy1" selected>Private</option>
                                    <option value="privacy2">Public</option>
                                    <option value="privacy3">Selection</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="w40 adventure-selector">
                        <div class="pdt-4">
                            <label for="adventure-input">TYPE</label>
                            <input type="text" id="adventure-input" placeholder="Type 1, Type 2, ..." readonly>
                        </div>

                        <div class="adventure-popup" id="adventure-popup">
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="hiking">
                                    <div class="box-content">
                                        <i class="fas fa-person-hiking"></i>
                                    </div>
                                    <p>Hiking</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="camping">
                                    <div class="box-content"><i class="fas fa-campground"></i></div>
                                    <p>Camping</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="alpinism">
                                    <div class="box-content"><img src="{{asset('assets/img/icon_ice_axe.png')}}" alt=""></div>
                                    <p>Alpinism</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="climbing">
                                    <div class="box-content">
                                        <img src="{{asset('assets/img/icon_climber.png')}}" alt="">
                                    </div>
                                    <p>Climbing</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="whitewater">
                                    <div class="box-content">
                                        <i class="fas fa-water"></i>
                                    </div>
                                    <p>Whitewater</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="skiing">
                                    <div class="box-content">
                                        <i class="fas fa-person-skiing"></i>
                                    </div>
                                    <p>Skiing</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="caving">
                                    <div class="box-content">
                                        <img src="{{asset('assets/img/icon_cave2.png')}}">
                                    </div>
                                    <p>Caving</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="hunting">
                                    <div class="box-content">
                                        <i class="fas fa-crosshairs"></i>
                                    </div>
                                    <p>Hunting</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="fishing">
                                    <div class="box-content">
                                        <img src="{{asset('assets/img/icon_fishing.svg')}}">
                                    </div>
                                    <p>Fishing</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="off road">
                                    <div class="box-content">
                                        <i class="fas fa-motorcycle"></i>
                                    </div>
                                    <p>Off road</p>
                            </label>
                            <label class="adventure-box">
                                <input type="checkbox" name="adventures[]" value="biking">
                                    <div class="box-content">
                                        <i class="fas fa-bicycle"></i>
                                    </div>
                                    <p>Biking</p>
                            </label>
                             <!-- Other Adventure -->
                            <label class="adventure-box">
                                <input type="checkbox" id="otherCheckbox" name="adventures[]" value="other(s)">
                                    <div class="box-content">
                                        <i class="fas fa-pen"></i>
                                    </div>
                                    <p>Other(s)</p>
                            </label>
                        </div>
                       
                        <div class="flex-start w100 pdl-2 mt-4">
                            <span>Live Track</span>
                            <label class="toggle-btn">
                                <input type="checkbox" id="toggleButtonLive" name="statusLive">
                                <div class="slider">
                                <div class="ball"></div>
                                <span class="btn-text"></span>
                                </div>
                            </label>
                        </div>
                        
                        <div class="flex-start w100 pdl-2 mt-2">
                            <span>Safety Alert</span>
                            <label class="toggle-btn">
                                <input type="checkbox" id="toggleButtonSafety" name="statusSafety">
                                <div class="slider">
                                    <div class="ball"></div>
                                    <span class="btn-text"></span>
                                </div>
                            </label>
                        </div>

                        <div id="safety-settings" class="w100 d-flex mt-2 d-none">
                            <div class="w45">
                                <label for="duration-input">Timer Alert</label>
                                <div class="duration-wrapper">
                                    <input type="text" id="duration-input" name="duration-input"
                                        readonly placeholder="HH:MM:SS" class="duration-display" value="24:00:00" />

                                    <div class="duration-picker" id="duration-picker" style="display:none;">
                                        <div class="picker-column">
                                            {% for h in 0..72 %}
                                                <div class="picker-option" data-type="h">{{ "%02d"|format(h) }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="divider"></div>
                                        <div class="picker-column">
                                            {% for m in 0..59 %}
                                                <div class="picker-option" data-type="m">{{ "%02d"|format(m) }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="divider"></div>
                                        <div class="picker-column">
                                            {% for s in 0..59 %}
                                                <div class="picker-option" data-type="s">{{ "%02d"|format(s) }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w45">
                                <label for="contact-list-select">Contact list</label>
                                <select name="contact_list" id="contact-list-select">
                                    {% for list in contactLists %}
                                        <option value="{{ list.id }}" {{ list.isDefault ? 'selected' : '' }}>{{ list.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="w100 pdt-4 flex-end">
                        <button id="submitBtn" class="button-type-4" type="submit">CREATE</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
</main>

{% endblock main %}

{% block script %}
<script src="{{ asset('js/adventure-selector.js') }}" defer></script>
<script src="{{ asset('js/timer-picker.js') }}" defer></script>
<script src="{{ asset('js/features_check.js') }}" defer></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const toggleSafety = document.getElementById('toggleButtonSafety');
    const safetySettings = document.getElementById('safety-settings');
    const durationInput = document.getElementById('duration-input');
    const contactSelect = document.getElementById('contact-list-select');

    // Par défaut, settings cachés, valeur 24:00:00, contact list à Default
    function resetSafetyDefaults() {
        durationInput.value = "24:00:00";
        if (contactSelect) {
            const defaultOption = contactSelect.querySelector('option[selected]');
            if (defaultOption) contactSelect.value = defaultOption.value;
            else contactSelect.selectedIndex = 0;
        }
    }

    // Toggle affichage
    toggleSafety.addEventListener('change', function() {
        if (this.checked) {
            safetySettings.classList.remove('d-none');
            resetSafetyDefaults();
        } else {
            safetySettings.classList.add('d-none');
        }
    });
});
</script>



<script src="{{ asset('js/validatorCreateAdvForm.js') }}" defer></script>
{% endblock script %}