{% extends 'user/base.html.twig' %}

        {% block metatitle %}
        <title>Pathfinder - Dashboard</title>
        {% endblock metatitle %}

{% block main %}

<main class="dashboard">
        <section class="container">
            <div class="flex-between pdt-8">
                <div class="container-circle-1">
                    <img src="{{ asset('assets/img/LiveTrack.jpeg') }}" alt="LiveTrack">
                </div> 
                <div class="w35">
                    <div class="flex-start"><h2>Cyril CATOEN</h2>
                    <img src="https://flagcdn.com/24x18/fr.png" alt="France" width="24px" height="18px">
                    </div>
                    <p class="pdt-1 text-justify">Outdoors and tech entoushiat. Transitioning into Web Develoment to build an international company using React, React Native, PostGres, Symfony and more. Let’s go !   
                    </p>
                </div>
                <div class="w40 vh30 flex-cl-between pdt-2 pdb-2">
                    <a class="button-type-2 button-green" href="{{ path('create-adventure') }}#newAdv">Create a new Adventure</a>
                    <button class="button-type-2 button-red">Reset Safety Alert</button>
                    <p>08.04.2025 14:06 (UTC+2)</p>
                </div>
            </div>

            <div class="w100 vh60 flex-between mt-8">
                <div class="container-dash-1">
                    <h2 class="w100">LAST ADVENTURES</h2>
                    <div class="adventure-cards w100">
                        <div>
                            <div class="adventure-card">
                            <img src="{{ asset('assets/img/shiretoko3.jpg') }}" alt="Shiretoko">
                            </div>
                            <div>
                                <p class="bold">Shiretoko National Park</p>
                                <p>Achieved</p>
                            </div>
                        </div>

                        <div>
                            <div class="adventure-card">
                            <img src="{{ asset('assets/img/akanMashu4.jpg') }}" alt="akanMashu">
                            </div>
                            <div>
                                <p class="bold">Into the Georgian Wild</p>
                                <p>Preparation</p>
                            </div>
                        </div>
                        <div>
                            <div class="adventure-card">
                            <img src="{{ asset('assets/img/rishiri_island2.jpg') }}" alt="RishiriIsland">
                            </div>
                            <div>
                                <p class="bold">Entrepreneurship</p>
                                <p>In progress</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-dash-2">
                    <h2 class="w100">SAFETY CONTACTS</h2>
                    <div>
                        <ul>
                            <li>
                                <img class="container-circle-2" src="{{ asset('assets/img/Natsuka.png')}}" alt="">
                                <p>Natsuka SUZUKI</p>
                            </li>
                            <li>
                                <img class="container-circle-2" src="{{ asset('assets/img/aurelien.png')}}" alt="">
                                <p>Aurélien CATOEN</p>
                            </li>
                            <li>
                                <img class="container-circle-2" src="{{ asset('assets/img/Anton.png')}}" alt="">
                                <p>Anton SMITH</p>
                            </li>
                        </ul>
                    </div>
                    <a class="manage-btn" href="{{ path('contacts-manager')}}">
                            <i class="fas fa-users-gear"></i>
                            <p>Manage Contacts<p>
                    </a>
                </div>
            </div>

        </section>
</main>

{% endblock main %}